<!doctype html>
<html lang="en">
<head>
	<title>404 - Not found</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bebasneue/css/bebasneue.css"/>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/slicknav.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="page-404-3" class="panda-wrapper panda-404">
		<div class="panda-content">
			<img class="logo-pd-2" src="img/logo-pd-2.png" alt="">
			<h2 class="rs title-404">Cant reach!</h2>
			<p class="rs">We cannot reach the page now, please try one of these instead!</p>

			<div id="responsivemenu"></div>
			<nav class="panda-menu">
				<ul id="menu" class="rs">
					<li class="current"><a href="#">home</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">services</a></li>
					<li><a href="#">events</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>